#Remove python compile files
*.py[cod]

#Remove temporary files
*~
*~
*.o
*.so
*.prog
.mydepend
*.out
*.avi
*.mp4
*.x256
config.py
simulations/*
data/*
config.py
python/pynbody/*
python/pymses_4.0.0/*
python/Python-2.7.8/*
python/scipy/*
python/Cython/*
python/mpi4py/*
movie/*
tipsy.info
AHF.in
ahf_mtree_infile
ahf_track_halos
ahf_track_infile
zfile
ben
ben/*
