#Remove python compile files
*.py[cod]

#Remove temporary files
*~
_*
*~
*.o
*.so
*.prog
.mydepend
*.out
python/yt/yt*
simulations/*
data/*
applications/AHF*
ramses_pp/config.py
python/pynbody/*
python/pymses_4.0.0/*
python/Python-2.7.8/*
python/scipy/*
python/Cython/*
python/mpi4py/*
movie/*
ramses_pp/config.py
tipsy.info
AHF.in
ahf_mtree_infile
ahf_track_halos
ahf_track_infile
zfile
